.map-header {
    display: flex;
    font-family: 'Franklin Gothic Medium', sans-serif;
    flex-direction: column;
    padding-bottom: 20px;
}

.event-map-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.event-map-container {
    width: 40vw;
    padding-bottom: 10px;
}

.tournament-list{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.map-event-logo {
    width: 100px;
    height: 100px;
}

.map-event-logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-event-info-section {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: medium;
}

.tournament-list-item {
    cursor: pointer;
    border: 2px solid black;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    color: black;
    font-family: 'Franklin Gothic Medium', sans-serif;
    transition: background-color 0.3s ease;
    align-items: left;
    display: flex;
    gap: 8px;
}

.tournament-list-item:hover {
    background-color: lightblue;
}

.tournament-date {
    border: 1px solid black;
    padding: 5px;
}

.leaflet-control-container {
    z-index: 998;
    position: relative;
}

.event-filters {
    font-family: 'Franklin Gothic Medium', sans-serif;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top:0;
    padding-bottom: 10px;
    font-size: 24px;
}

.filter-container {
    padding: 5px;
}

@media (max-width: 768px) {

    .event-map-container {
        width: 90vw;
        padding-bottom: 10px;
    }

    .event-map-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .map-header {
        display: flex;
        font-family: 'Franklin Gothic Medium', sans-serif;
        text-align: center;
        flex-direction: column;
        padding-bottom: 20px;
    }
    
    .tournament-map-popup {
        max-width: 75vw;
    }
}