.map-event-logo {
    width: 100px;
    height: 100px;
}

.map-event-logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-event-info-section {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: medium;
}

.upcoming-tournament-list-item {
    cursor: pointer;
    border: 2px solid black;
    width: 100%;
    padding: 10px;
    padding-left: none;
    margin-bottom: 5px;
    color: black;
    font-family: 'Franklin Gothic Medium', sans-serif;
    transition: background-color 0.3s ease;
    align-items: left;
    display: flex;
    gap: 8px;
}

.upcoming-tournament-list-item:hover {
    background-color: lightblue;
}

.tournament-date {
    border: 1px solid black;
    padding: 5px;
}

.leaflet-control-container {
    z-index: 998;
    position: relative;
}

.upcoming-event-map-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upcoming-event-map-container {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

@media (max-width: 768px) {

    .upcoming-event-map-container {
        width: 90vw;
        padding-bottom: 10px;
    }

    .tournament-map-popup {
        max-width: 75vw;
    }
}