.regional-info {
    color: black;
    font-size: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', sans-serif;
    margin-bottom: 1rem;
}

.regional-swiper {
    height: auto;
    background-color: white;
    max-width: 40vw;
}

.regional-swiper-slide {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: black;
}

.regional-info-container {
    text-align: center;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

.regional-info-container h2 {
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', sans-serif;
    padding-bottom: 30px;
}

.regional-info-links {
    padding-left: 100px;
    padding-right: 100px;
}

.regional-info-links li{
    padding-bottom: 20px;
    display: inline-block;
    position: relative;
}

.regional-info-item {
    text-decoration: none;
    color: black;
}

.regional-info-item:hover{
  color: blue;
}

@media (max-width: 768px) {

    .regional-info-container {
        text-align: center;
        font-family: 'Franklin Gothic Medium', sans-serif;
        height: 50vh;
    }

    .regional-swiper {
        min-width: 90vw;
        height: 50vh;
        background-color: white;
        overflow: hidden;
    }
    
    .regional-info-links {
        font-size: 1rem;
    }

}