* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.calendar-wrapper {
  transform: scale(0.85);
  transform-origin: top left;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.block-layout {
  display: flex;
}

.block-section {
  width: 50vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
  align-items: center;
  padding: 1rem;   
}

@media (max-width: 768px) {
  .square-section {
    width: 100vw;
  }
}